body {
  font-family: "Roboto", sans-serif;
}

::-webkit-input-placeholder {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
}
::-moz-placeholder {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
}
:-ms-input-placeholder {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
}
::placeholder {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
}

.wrapper {
  max-width: 840px;
  margin: auto;
  margin-top: 80px;
  margin-bottom: 80px;
}

h1 {
  margin-top: 10px;
  font-size: 40px;
}
.left {
  float: left;
  max-width: 50%;
}

.right {
  float: left;
}

.contact_form {
  padding: 10px;
  margin: 8px;
  width: 420px;
}

form {
  width: 420px;
}

input,
textarea {
  padding: 10px;
  margin: 10px;
  background-color: #f3f3f3;
}

input.submit_button {
  background-color: black;
  color: white;
  border-radius: 5px;
}

img {
  max-width: 400px;
}
