body {
  font-family: "Roboto", sans-serif;
}

::-webkit-input-placeholder {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
}
::-moz-placeholder {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
}
:-ms-input-placeholder {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
}
::placeholder {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
}

.wrapper {
  max-width: 840px;
  /* Sita koda butu galima pakeisti i: margin: 80px auto; */
  margin: auto;
  margin-top: 80px;
  margin-bottom: 80px;
}

h1 {
  margin-top: 10px;
  font-size: 40px;
}
.left {
  float: left;
  max-width: 50%;
  /* 
  * max-width galima pakeisti i width, 
  * tuomet visada puslapio struktura bus tokia pati, nepriklausomai nuo  
  * turinio esancio elemento viduje
  */
  width: 50%;
}

.right {
  float: left;
  width: 50%;
}

.contact_form {
  padding: 10px;
  margin: 8px;
  width: 100%;
}

form {
  width: 100%;
}

input,
textarea {
  padding: 10px;
  margin: 10px;
  background-color: #f3f3f3;
  border: none;
}

input.submit_button {
  background-color: black;
  color: white;
  border-radius: 5px;
}

img {
  max-width: 400px;
}
